<!DOCTYPE html>
<head>
<title>Awesome Wifi Site</title>
<link rel="stylesheet" href="../css/base.css">
</head>
<body>
<h1>Sneaky </h1>
<h2>Keep track of the WIFI you've seen!</h2>
<img src="img/bird.png">
<p>Current location is (lat, long): {{currLat}}, {{currLong}}</p>
  
<p>See the <a href="/secretwifi">list</a></p>